@using MovixApp.Controllers
@{
    var genres = (IEnumerable<Genre>)(ViewBag.Genres ?? Enumerable.Empty<Genre>());
    int? selectedId = ViewBag.SelectedGenreId as int?;
}

<div class="list-group genre-list  movies-grid-page">
    <a class="list-group-item genre-item @(selectedId == null ? "active" : "")"
       asp-action="Index">
        🎬 Tümü
    </a>

    @foreach (var g in genres)
    {
        var active = (selectedId.HasValue && selectedId.Value == g.Id) ? "active" : "";
        <a class="list-group-item genre-item @active"
           asp-action="ByGenre" asp-route-id="@g.Id">
            @g.Name
        </a>
    }
</div>
